<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="SURREALDB_HOST" value="localhost"/>
    <env name="SURREALDB_PORT" value="8000"/>
    <env name="SURREALDB_USERNAME" value="root"/>
    <env name="SURREALDB_PASSWORD" value="root"/>
    <env name="SURREALDB_DATABASE" value="test"/>
    <env name="SURREALDB_NAMESPACE" value="test"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
